<ul class="post-list-revamped">
{% for post in postslist | reverse %}
  <li class="post-item-card">

    {% if post.data.image %}
    <div class="post-thumbnail-wrapper">
      <img src="{{ post.data.image }}" alt="{{ post.data.title }}" class="post-thumbnail" loading="lazy">
    </div>
    {% endif %}

    <div class="post-content-wrapper">
      <time class="post-date-label" datetime="{{ post.date | htmlDateString }}">
        {{ post.date | longDate }}
      </time>

      <a href="{{ post.url | url }}" class="post-title-link">
        <h3 class="post-title">
          {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
        </h3>
      </a>

      {% if post.data.description %}
        <p class="post-description">
          {{ post.data.description }}
        </p>
      {% endif %}

      <div class="post-tags-row">
        {% if post.data.tags %}
          {% for tag in post.data.tags %}
            {%- if tag != "posts" and tag != "projects" -%}
              <a href="{{ '/tags/' | url }}{{ tag | slugify }}/" class="post-tag-chip">#{{ tag }}</a>
            {%- endif -%}
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </li>
{% endfor %}
</ul>
