---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% set shareUrl = metadata.url + page.url %}

<article class="blog-post">
  <h1>{{ title }}</h1>

  <div class="blog-post-meta">
    <p>
      Published on <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
      {% if metadata.author.name %} by {{ metadata.author.name }}{% endif %}
    </p>

    {% if tags %}
    <p>
      Tags:
      {% for tag in tags %}
        {%- if tag != "posts" -%}
          {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>&nbsp;
        {%- endif -%}
      {% endfor %}
    </p>
    {% endif %}

    <p>
      {% set wc = content | striptags | wordcount %}
      {% set wPerMinute = (wc / 240) + 1 %}
      ({{ wPerMinute | round }} min read)
    </p>
  </div>

  {{ content | safe }}

  <hr>

  <h3>Share this post</h3>
  <p>
    Since you've made it this far, <a href="{{ shareUrl | safe }}" on-click="share">sharing</a> this article would be highly appreciated.
    For feedback, <a href="https://twitter.com/{{ metadata.author.twitterHandle }}" target="_blank" rel="noopener">ping me on Twitter.</a>
  </p>

</article>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}",
  "genre": "{{ metadata.genre }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>
